/* PosterCalendar stylesheet */

#pc-main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pc-head .pc-month-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pc-head .pc-month-title h2 {
    display: inline-block;
    width: 45%;
    text-align: center;
    text-transform: uppercase;
}

#pc-head .pc-month-title i {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
}

#pc-head .date-range {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

#pc-head .date-range .date-item {
    width: 2.8%;
    padding: 2px 0;
    border: 2px solid #5b2f82;
    text-align: center;
    cursor: pointer;
}

#pc-head .date-range .active {
    background-color: rgba(91, 47, 130, 0.4);
}

#pc-main .pc-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#pc-main .pc-event {
    flex: 1 0 22%;
    padding: 5px;
    margin: 5px;
}

#pc-main .pc-event-landscape {
    flex: 1 0 calc(44% + 10px);
    padding: 5px;
    margin: 5px;
}

#pc-main .pc-event img, #pc-main .pc-event-landscape img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pc-main .pc-event .img-container, #pc-main .pc-event-landscape .img-container {
    height: 100%;
    position: relative;
}

#pc-main .pc-event .img-container:hover, #pc-main .pc-event-landscape .img-container:hover {
    height: 100%;
}

#pc-main .pc-event .img-title, #pc-main .pc-event-landscape .img-title {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    background-color: rgba(91, 47, 130, 0.8);
    padding: 0;
}

#pc-main .pc-event .img-container:hover .img-title,
#pc-main .pc-event-landscape .img-container:hover .img-title {
    top: 0;
    bottom: 0;
    padding: 5px;
}

#pc-main .pc-event .img-title p, #pc-main .pc-event-landscape .img-title p {
    transition: all 0.3s ease-in-out;
    color: rgba(255, 255, 255, 0);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pc-main .pc-event .img-container:hover .img-title p,
#pc-main .pc-event-landscape .img-container:hover .img-title p {
    color: rgba(255, 255, 255, 1);
}



/* Popup image style */

  
img {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15),
    0 10px 10px -5px rgba(0, 0, 0, 0.1) !important;
}
  
/* container for popup image */
.popup-container {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: auto;
    }
/* background of the popup umage */

.popup-background {
    transition: all 0.3s ease-in-out;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.active-background {
    background-color: rgba(0, 0, 0, 0.4);
}

/* popup image, you can adjust here animation tranistion time and effect */
.popup-image {
    transition: opacity 0.3s ease-in-out;
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15),
    0 10px 10px -5px rgba(0, 0, 0, 0.1);
    opacity: 0;
}



